* {
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(252, 252, 183);
}

.form-container {
    margin: 50px 50px;
    border: 5px solid black;
    width: 350px;
    background-color: white;
}

.form-container label {
    font-size: 15px;
}

.form-container input {
    margin: 0 10px;
    width: 200px;
    padding: 8px;
}

legend {
    font-size: 20px;
    text-align: center;
}

fieldset {
    border: 5px solid black;

}

input {
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.botoes input {
    padding: 10px;
}